<!DOCTYPE html>
<html lang="es">
<%- include('../partials/head.ejs' ,{title: title}) %>
<head>
    <script src="/javascripts/productList.js" defer></script>
</head>
<body>
  <div class="container_Page">
    <%- include('../partials/header.ejs') %>   
    <main>
        <section class="product_Page_Grid">
            <section class="categories_SidePanel">
                <div class="optionsSidePanel">
                    <%- include('../partials/productListSidePanel.ejs') %>
                </div>
            </section>
            <section class="options_productsPage">
                <div class="sortProducts">
                    <div class="buttonFilterProducts">
                        <button id="buttonFilterOptions">Filtrar</button>
                    </div>
                    <div id="modalSidePanelButton" class="modalSidePanel">
                        <span class="closeFilterOptions"><i class="fa fa-times" aria-hidden="true"></i></span>
                        <%- include('../partials/productListSidePanel.ejs') %>
                    </div>
                    <form action="">
                        <label>Ordenar Por: </label>
                        <select style="border-radius: 0.5rem; margin-left: 5px;" name="sortBy" id="sortby" onchange="location = this.value;">
                            <option>Elegir</option>
                            <option value="?offers=1<%= searchQuery %><%= offersURL %>">Descuento</option>
                            <option value="?order=0<%= searchQuery %><%= offersURL %>">Menor Precio</option>
                            <option value="?order=1<%= searchQuery %><%= offersURL %>">Mayor Precio</option>
                        </select>
                    </form>
                </div>
            </section>
            <section class="productListView">

                <% if (productNotFound) { %>
                    <section class="productNotFound fillCols">
                        <p>Oops!</p>
                        <p><%= productNotFound %></p>
                        <img src="/images/logos/panda_error.png" alt="Panda">
                        <span></span>
                      </section>
                <% } else { %>
                    <% products.forEach(product => { %>
                        <article class="products_Page_Article">
    
                            <a href="/productos/<%= product.Category.category_Link %>/<%= product.Subcategory.subcategory_Link %>/<%=product.id%>">
                                <div class="img_Product_Page">
                                    <% if (product.discount > 1) { %>
                                        <label><%= product.discount %>% OFF</label>
                                    <% } %>
                                    <img src="/images/products/<%= product.images[0]?.image_Route %>" alt="<%= product.name %>">
                                </div>
                                <div class="description_Article_Page">
                                    <p><%= product.name %></p>
                                    <div class="prices_Product_Page">
                                        <% if (product.discount > 1) { %>
                                            <p>$<%= toThousand(product.finalPrice) %></p>
                                            <p>$<%= toThousand(product.price) %></p>
                                        <% } else { %>
                                            <p>$<%= toThousand(product.price) %></p>
                                        <% } %>
                                    </div>
                                    <div class="goTo_Add_Item">
                                        <button>Comprar</button>
                                        <button><i class="fa fa-eye" aria-hidden="true"></i></button>
                                    </div>
                                </div>
                            </a>
                        </article>
                    <% }) %>                 
                <% } %>

            </section>
            <section class="pagesBox">
                <% if (pageActive < 0) { %>
                    <a title="Pagina 1" style="background-color: #877cff; color: white; user-select: none;">1</a>
                <% } else { %>

                    <% if (pageActive === 0) { %>
                    <% } else { %>
                        <a title="Pagina <%= pageActive %>" href="?page=<%= pageActive %><%= orderURL %><%= searchQuery %><%= offersURL %>"><i class="fa fa-chevron-left" aria-hidden="true"></i></a>
                    <% } %>

                    <% for( let i = 0; i < Math.round(pagesCount/quantityProducts); i++ ) { %>

                        <% if (pageActive === i) { %>
                            <a title="Pagina <%= [i+1]%>" style="background-color: #877cff; color: white; user-select: none;"><%= [i+1] %></a>
                        <% } else { %>
                            <a title="Pagina <%= [i+1]%>" href="?page=<%= [i+1]%><%= orderURL %><%= searchQuery %><%= offersURL %>"><%= [i+1] %></a>
                        <% } %>
    
                    <% } %>

                    <% if (pageActive+2 > Math.round(pagesCount/quantityProducts)) { %>
                    <% } else { %>
                        <a title="Pagina <%= pageActive+2 %>" href="?page=<%= pageActive+2 %><%= orderURL %><%= searchQuery %><%= offersURL %>"><i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                    <% } %>
                    
                <% } %>
            </section>
        </section>
    </main>
    <%- include('../partials/footer.ejs') %> 
  </div>
</body>
</html>