<!DOCTYPE html>
<html lang="es">
<%- include('../partials/head.ejs' ,{title: title}) %>
<head>
    <script src="/javascripts/productList.js" defer></script>
</head>
<body>
  <div class="container_Page">
    <%- include('../partials/header.ejs') %>   
    <main>
        <section class="product_Page_Grid">
            <section class="categories_SidePanel">
                <div class="optionsSidePanel">
                    <%- include('../partials/productListSidePanel.ejs') %>
                </div>
            </section>
            <section class="options_productsPage">
                <div class="sortProducts">
                    <div class="buttonFilterProducts">
                        <button id="buttonFilterOptions">Filtrar</button>
                    </div>
                    <div id="modalSidePanelButton" class="modalSidePanel">
                        <span class="closeFilterOptions"><i class="fa fa-times" aria-hidden="true"></i></span>
                        <%- include('../partials/productListSidePanel.ejs') %>
                    </div>
                    <form action="">
                        <label>Ordenar Por: </label>
                        <select name="sortBy" id="sortby">
                            <option value="lowPrices">Menor Precio</option>
                            <option value="highPrices">Mayor Precio</option>
                        </select>
                    </form>
                </div>
            </section>
            <% var finalPrice = 0 %>  
            <section class="productListView">

                <% products.forEach(product => { %>
                    <article class="products_Page_Article">

                        <a href="/productos/<%= product.Category.categorylink %>/<%= product.Subcategory.subcategorylink %>/<%=product.id%>">
                            <div class="img_Product_Page">
                                <% if (product.discount > 1) { %>
                                    <label><%= product.discount %>% OFF</label>
                                <% } %>
                                <img src="/images/products/<%= product.image0 %>" alt="<%= product.name %>">
                            </div>
                            <div class="description_Article_Page">
                                <p><%= product.name %></p>
                                <div class="prices_Product_Page">
                                    <% if (product.discount > 0) { %>
                                        <p>$<%= toThousand(finalPrice = product.price - ((product.price * product.discount)/100)) %></p>
                                        <p>$<%= toThousand(product.price) %></p>
                                    <% } else { %>
                                        <p>$<%= toThousand(product.price) %></p>
                                    <% } %>
                                </div>
                                <div class="goTo_Add_Item">
                                    <button>Ver Producto</button>
                                    <button>Agregar al Carrito</button>
                                </div>
                            </div>
                        </a>
                    </article>
    
                <% }) %>
            </section>
        </section>
    </main>
    <%- include('../partials/footer.ejs') %> 
  </div>
</body>
</html>