<!DOCTYPE html>
<html lang="es">
<%- include('../partials/head.ejs' , {title : product.name+' - ' }) %>
<head>
    <script src="/javascripts/productPage.js" defer></script>
</head>
<body>
  <div class="container_Page">
    <%- include('../partials/header.ejs') %>   
    <main>
        <!-- The Modal -->
        <div id="myModal" class="modal">
    
            <!-- The Close Button -->
            <span class="close">&times;</span>

            <!-- Modal Content (The Image) -->
            <img class="modal-content" id="img01">

        </div> 

        <section class="productDetailContainer">

            <div class="breadcrumbs_Pages">
                <a href="/productos">Volver al Listado</a>
                <i class="fa fa-angle-right" aria-hidden="true"></i>
                <a href="/productos/<%= product.Category.category_Link %>"><%= product.Category.category_Name %></a>
                <i class="fa fa-angle-right" aria-hidden="true"></i>
                <a href="/productos/<%= product.Category.category_Link %>/<%= product.Subcategory.subcategory_Link %>"><%= product.Subcategory.subcategory_Name %></a>    
            </div>
        

            <section class="productPhoto">
                <!-- Aca va la imagen Principal  -->
                <img src="/images/products/<%= product.images[0]?.image_Route %>" id="expandedImg" class="imageModal">
                <!-- Aca va la Grilla de Fotos del producto  -->
                <div class="photosGalleryBox">
                    <% product.images.forEach(imageGallery => { %>
                        <img class="miniPhoto" src="/images/products/<%= imageGallery.image_Route %>" onmouseover="productGridImages(this);">
                    <% }) %>
                </div>
            </section>
    
            <section class="productPagePriceBox">
                <div class="priceNameProductPage">
                    <p><%= product.name %></p>
                    <% if (product.discount > 0) { %>
                        <p>$<%= toThousand(product.finalPrice) %></p>
                        <p> Precio Lista $<%= toThousand(product.price) %></p>
                        <p> <%= product.discount %> % OFF</p>    
                    <% } else { %>
                        <p>$<%= toThousand(product.price) %></p>
                    <% } %>
                </div>

                <div class="iconDetailProduct">
                    <img src="/images/payments_Logos/ahora1218.svg" alt="Ahora 12 y 18 Cuotas Sin Interes">
                    <label><i class="fas fa-store-alt"></i>Retirar en local gratis</label>
                    <label><i class="fas fa-shipping-fast"></i>Envios a todo el país</label>
                    <label><i class="far fa-check-circle"></i>En stock</label>
                    <label><i class="fas fa-award"></i>Garantía 12 Meses</label>
                </div>

                <div class="productPageButton">
                    <button title="Comprar">Agregar al Carrito <i class="fa fa-shopping-cart" aria-hidden="true"></i></button>
                    <% if (favoriteItem != -1) { %>
                        <button title="Agregar a Favoritos" onclick="fav();"> Agregar a Favoritos <i id="favBtn" class="fa fa-heart"></i></button>
                    <% } else { %>
                        <button title="Agregar a Favoritos" onclick="fav();"> Agregar a Favoritos <i id="favBtn" class="fa fa-heart-o"></i></button>
                    <% } %>
                     
                </div>

                <div class="socialIconsShare">
                    <i class="fab fa-facebook"></i>
                    <i class="fab fa-twitter"></i>
                    <i class="fab fa-instagram"></i>
                </div>
            </section>

            <section class="descriptionProduct">
                <p class="specs_Title">Especificaciones</p>
                <pre class="specs_DescriptionProduct">
                    <%= product.description %>
                </pre>
                <p class="specs_Title">Preguntas Frecuentes</p>
                <ul class="questionAnswerProduct">
                    <li>¿Cuanto Demora el Envio?</li>
                    <li>- Entre 3-5 dias habiles.</li>
                    <br>
                    <li>¿Que medios de pago aceptan?</li>
                    <li>- En nuestra pagina principal puede ver los medios de pago que aceptamos.</li>
                    <br>
                    <li>¿Tiene garantia?</li>
                    <li>- La garantia en nuestros productos es de 12 meses.</li>
                </ul>
            </section>
        </section>
        <%- include('../partials/slider.ejs') %> 
    </main>
    <%- include('../partials/footer.ejs') %> 
  </div>
</body>
</html>