<!DOCTYPE html>
<html lang="es">
<%- include('partials/head.ejs', {title: ''}) %>
<head>
    <script src="/javascripts/carousel.js" defer></script>
</head>
<body>
  <div class="container_Page">
    <%- include('partials/header.ejs') %>   
    <main class="home_Container">
    <%- include('partials/carousel.ejs') %>   

        <!-- SECCION MOBILE: Visto Recientemente -->
        <% if (typeof session.user != "undefined" && userData.length > 0) { %>
            <section class="seccion-general">
                <a href="/productos/<%= lastProduct.Category.category_Link %>/<%= lastProduct.Subcategory.subcategory_Link %>/<%= lastProduct.id%>">
                    <div class="titulo-articulo"> 
                        <h3> Visto Recientemente </h3>
                    </div>
                    <div>
                        <img src="/images/products/<%= lastProduct.images[0]?.image_Route %>" alt="<%= lastProduct.name %>">
                    </div>
                    <div class="descripcion-articulo">
                        <p><%= lastProduct.name %></p>
                        <h1>$<%= toThousand(lastProduct.finalPrice) %></h1>
                        <div class="goTo_Add_Item">
                            <button class="w100">Ver Producto</button>
                        </div>
                    </div>
                </a>
                <hr>
                <div class="ver-historial-de-busqueda">
                    <a class="btn_mb_option" href="/historial">Ver Historial de Busqueda</a>
                </div>
            </section>
        <% } %>
         

        <!-- SECCION MOBILE :ARTICULOS QUE PUEDEN INTERESARTE -->
        <section class="seccion-general">
        <div class="titulo-articulo">
            <h3>Articulos que pueden interesarte</h3>
        </div>

        <% for( let i = 0; i < 3; i++ ) { %>
            <article class="product_Item_Recommended">
                <a href="/productos/<%= productsData[i].Category.category_Link %>/<%= productsData[i].Subcategory.subcategory_Link %>/<%= productsData[i].id%>">
                    <div class="img">
                        <% if (productsData[i].discount > 1) { %>
                            <label><%= productsData[i].discount %>% OFF</label>
                        <% } %>
                        <img src="/images/products/<%= productsData[i].images[0].image_Route %>" alt="">
                    </div>
                    <div class="descripcion-articulo">
                        <p><%= productsData[i].name %></p>
                        <h1>$<%= toThousand(productsData[i].finalPrice) %></h1>
                        <div class="goTo_Add_Item">
                            <button class="w100">Ver Producto</button>
                        </div>
                    </div>
                </a>
            </article>
        <% } %>

        <div class="ver-mas">
            <a class="btn_mb_option" href="/productos">Ver mas Productos</a>
        </div>
        </section>

        <% if (typeof session.user === "undefined") { %>
         <!-- crear cuenta -->
            <div class="crear-cuenta">
                <h3>¡Crea una cuenta y mejora tu experiencia!</h3>

                <a href="/registro">Crear Cuenta</a>

                <h4>¿Ya estas Registrado?</h4>

                <a href="/login">Inicia Sesion Aca.</a>
            </div>
        <% } %>

        <!-- seccion ofertas MOBILE -->
        <section class="seccion-general">
            <div class="titulo-articulo">
                <h3>Ofertas</h3>
            </div>
            <% for( let i = 3; i < 12; i++ ) { %>
                
                <% if (productsData[i].discount > 1) { %>
                    <article class="product_Item_Recommended">
                        <a href="/productos/<%= productsData[i].Category.category_Link %>/<%= productsData[i].Subcategory.subcategory_Link%>/<%= productsData[i].id%>">
                            <div class="img">
                                <% if (productsData[i].discount > 1) { %>
                                    <label><%= productsData[i].discount %>% OFF</label>
                                <% } %>
                                <img src="/images/products/<%= productsData[i].images[0].image_Route %>" alt="">
                            </div>
                            <div class="descripcion-articulo">
                                <p><%= productsData[i].name %></p>
                                <h1>$<%= toThousand(productsData[i].finalPrice) %></h1>
                                <div class="goTo_Add_Item">
                                    <button class="w100">Ver Producto</button>
                                </div>
                            </div>
                        </a>
                    </article>
                <% } %>

            <% } %>
            <div class="ver-mas">
                <a class="btn_mb_option" href="/ofertas">Ver mas productos</a>
            </div>
        </section>

        <!------------------------------------------------------------------------>
        <!---------------------------- SECCION DESKTOP --------------------------->
        <!------------------------------------------------------------------------>

        <!-- SLIDER DE MARCAS (INTEL, GIGABYTE ETC)  -->
        <%- include('partials/sliderBrands.ejs') %>   

        <% if (typeof session.user != "undefined" && userData.length > 0) { %>
            <div class="titulo-seccion-desktop">
                <h3>Visto Recientemente</h3>
            </div>
            <div class="desktopCardsBox">
                <section class="homeProductBoxCards productListView">
    
                    <% for( let i = 0; i < userData.length; i++ ) { %>
                        <article class="products_Page_Article">
                            <a href="/productos/<%= userData[i].Category.category_Link %>/<%= userData[i].Subcategory.subcategory_Link %>/<%=userData[i].id%>">
                                <div class="img_Product_Page">
                                    <% if (userData[i].discount > 1) { %>
                                        <label><%= userData[i].discount %>% OFF</label>
                                    <% } %>
                                    <img src="/images/products/<%= userData[i].images[0]?.image_Route %>" alt="<%= userData.name %>">
                                </div>
                                <div class="description_Article_Page homeProductCard">
                                    <p><%= userData[i].name %></p>
                                    <div class="prices_Product_Page">
                                        <% if (userData[i].discount === 0) { %>
                                            <p>$<%= toThousand(userData[i].price) %></p>
                                        <% } else { %>
                                            <p>$<%= toThousand(userData[i].finalPrice) %></p>
                                        <% } %>
                                    </div>
                                </div>
                            </a>
                        </article>
                    <% } %>
                </section>
            </div>
        <% } %>

        <!-- barra que vimos en maximus -->
        <section class="menu-categorias-desktop">
            <div class="seccion">
                <a href="/productos/oficina/notebooks"><img src="/images/logos/notebook.svg" alt=""></a>
            <h4>Notebook</h4>
            </div>
            <div class="seccion">
                <a href="/productos/gaming/mouse"><img src="/images/logos/mouse.svg" alt=""></a>
            <h4>Mouse</h4>
            </div>
            <div class="seccion">
                <a href="/productos/gaming/auriculares"><img src="/images/logos/auriculares.svg" alt=""></a>
            <h4>Auriculares</h4>
            </div>
            <div class="seccion">
                <a href="/productos/gaming/joysticks"><img src="/images/logos/jostyck.svg" alt=""></a>
            <h4>Joysticks</h4>
            </div>
            <div class="seccion">
                <a href="/productos/gaming/teclados"><img src="/images/logos/teclado.svg" alt=""></a>
            <h4>Teclado</h4>
            </div>
            <div class="seccion">
                <a href="/productos/gaming/monitores"><img src="/images/logos/monitores.svg" alt=""></a>
            <h4>Monitores</h4>
            </div>
        </section>
        
        <div class="titulo-seccion-desktop">
            <h3>Productos Recomendados</h3>
            <%- include('partials/slider.ejs') %>  
        </div>
        <%- include('partials/paymentBanner.ejs') %>
    </main>
    <%- include('partials/footer.ejs') %> 
  </div>
</body>
</html>