<!DOCTYPE html>
<html lang="es">
<%- include('../partials/head.ejs' ,{title: 'Carrito - '}) %>
<body>
  <div class="container_Page">
    <%- include('../partials/header.ejs') %>   
    <main>
        <div id="rgbar"></div>
        <% if (productsData.length > 0) { %>
        <div class="cart_Page_Box">
            <section class="list_Products_Box">
                <!-- Header de la lista de productos -->
                <section class="nav_Product_Box sec_Grid">
                    <div></div>
                    <div>Producto</div>
                    <div>Cantidad</div>
                    <div>Precio</div>
                    <div>Descuento</div>
                    <div>Precio Final</div>
                    <div></div>
                </section>
                <!-- Caja de los productos que se agregan a la lista -->

                <% productsData.forEach(productsData => { %>
                    
                    <section class="item_Product_Box sec_Grid">
                        <section class="icon_Plist">
                            <i class="fa fa-minus" aria-hidden="true"></i>
                        </section>
                        <section>
                            <p><%= productsData.name %></p>
                        </section>
                        <section>
                            <div class="minus_plusButton">
                                <button onclick="decreaseCount(event, this)">
                                    <i class="fa fa-minus-circle" aria-hidden="true"></i>
                                </button>
                                <input type="number" value="1">
                                <button onclick="increaseCount(event, this)">
                                    <i class="fa fa-plus-circle" aria-hidden="true"></i>
                                </button>
                            </div>
                        </section>
                        <section>
                            <p>$<%= toThousand(productsData.price) %></p>
                        </section>
                        <section>
                            <% if (productsData.discount) { %>
                                <div class="discount_Tag_Plist">
                                    <%= productsData.discount %>% OFF
                                </div>
                            <% } else { %>
                                
                            <% } %>
                        </section>
                        <section>
                            <p>$<%= toThousand(productsData.finalPrice) %></p>
                        </section>
                        <section>
                            <form class="delete_Plist" action="/cart_delete/<%- productsData.id %>?_method=DELETE" method="POST">
                                <button class="delete_Plist" type="submit" title="Borrar Producto"><i class="fa fa-trash" aria-hidden="true"></i></button>
                            </form>
                        </section>
                    </section>
                    <% }) %>
                <section class="totalPrice">
                    <% let total = 0  %> 
                    <% for( let i = 0; i < productsData.length; i++ ) { %>
                        <% total = total + Number(productsData[i].finalPrice) %> 
                    <% } %>
                    <p>Precio Total: $ <%= total %> </p>
                </section>
            </section>
            <!-- Seccion 2 -->
            <div class="payment_Area">
                <!-- <div class="titlePayments">
                    Detalle de tu Compra
                </div> -->
                
                <section class="shippingSection">
                    <div>
                        Calcular Envio
                    </div>
                    <div class="gridShipping">
                        <label for="cpcode">Codigo Postal:</label>
                        <section class="cp_Input">
                            <input type="number" id="cpcode" placeholder="Ej: 1823">
                            <button onclick="shippingCost()" value="">Calcular</button>
                        </section>
                        <label>Costo:</label>
                        <div id="shippingCost">$</div>
                    </div>
                </section>
    
                <section class="paymentSection">
                    <div class="titlePayments">
                        Medios de Pago
                    </div>
                    <div class="payments_list">
                        <section class="payments_Options">
                            <button class="buttonSelected" onclick="openPaymentSection(event, 'cashTab')">
                                <i class="fa fa-money iconPayment" aria-hidden="true"></i>
                                Efectivo
                            </button>
                            <button class="buttonSelected" onclick="openPaymentSection(event, 'cardTab')">
                                <i class="fa fa-credit-card iconPayment" aria-hidden="true"></i>
                                Tarjeta
                            </button>
                            <button class="buttonSelected" onclick="openPaymentSection(event, 'mpTab')">
                                <i class="fa fa-handshake-o iconPayment" aria-hidden="true"></i>
                                MercadoPago
                            </button>
                        </section>
                        <section class="cardpaySection tabContent" id="cardTab">
                            <p>Recorda que una vez abonado deberas esperar la confirmacion por E-Mail.</p>
                            <input type="text" placeholder="Nombre del Titular">
                            <input type="number" placeholder="Numero de la Tarjeta">
                            <div>
                                <select name="yearCard" id="">
                                    <option value="2021">2021</option> 
                                    <option value="2022">2022</option>
                                    <option value="2023">2023</option> 
                                    <option value="2024">2024</option> 
                                    <option value="2025">2025</option> 
                                    <option value="2026">2026</option> 
                                </select>

                                <select name="monthCard" id="">
                                    <option value="01">Enero</option> 
                                    <option value="02">Febrero</option> 
                                    <option value="03">Marzo</option> 
                                    <option value="04">Abril</option> 
                                    <option value="05">Mayo</option> 
                                    <option value="06">Junio</option> 
                                    <option value="07">Julio</option> 
                                    <option value="08">Agosto</option> 
                                    <option value="09">Septiembre</option> 
                                    <option value="10">Octubre</option> 
                                    <option value="11">Noviembre</option> 
                                    <option value="12">Diciembre</option> 
                                </select>

                                <input type="number" placeholder="CVV" >
                            </div>
                        </section>
                        <section class="cashSection tabContent" id="cashTab">
                            <p>Podes Retirarlo y Pagar en efectivo en nuestro local de Lunes a Sabados de 8hs a 22hs.</p>
                            <button>Confirmar</button>
                        </section>
                        <section class="mpSection tabContent" id="mpTab">
                            <p>Ahora podes abonar con Mercadopago : Seras redirigido a un link de MercadoPago al hacer click en el boton de abajo.</p>
                            <button>Pagar con MercadoPago</button>
                        </section>
                    </div>
                </section>
                <section class="buySection">
                    <button>Comprar</button>
                </section>
            </div>
        </div>

        <% } else { %>
                 
        <div class="empty_Cart">
            <p>Tu Carrito esta Vacio</p>
        </div>

        <% } %>

        <%- include('../partials/slider.ejs') %>  
    </main>
    <%- include('../partials/footer.ejs') %> 
  </div>
</body>
</html>