<!DOCTYPE html>
<html lang="es">
<%- include('../partials/head.ejs' ,{title: 'Carrito - '}) %>
<body>
  <div class="container_Page">
    <%- include('../partials/header.ejs') %>   
    <main>
        <div id="rgbar"></div>
        <% if (productsData.length > 0) { %>

            <div class="cart_Page_Box">
                <section class="list_Products_Box">
                    <!-- Header de la lista de productos -->
                    <section class="nav_Product_Box sec_Grid">
                        <div></div>
                        <div>Producto</div>
                        <div>Cantidad</div>
                        <div>Precio</div>
                        <div>Descuento</div>
                        <div>Precio Final</div>
                        <div></div>
                    </section>
                    <!-- Caja de los productos que se agregan a la lista -->
                    <% productsData.forEach(productsData => { %>    
                        <section id="cartProd" class="item_Product_Box sec_Grid">
                            <section class="icon_Plist">
                                <i class="fa fa-minus" aria-hidden="true"></i>
                            </section>
                            <section>
                                <p><%= productsData.name %></p>
                            </section>
                            <section>
                                <form class="minus_plusButton" method="POST">
                                    <button formaction="/updateCartMinus/<%- productsData.id %>?_method=PUT" type="submit" name="decrease" onclick="decreaseCount(event, this)">
                                        <i class="fa fa-minus-circle" aria-hidden="true"></i>
                                    </button>
                                    <input id="inputCartVal" type="number" name="cart_Quantity" value="<%= cartData[cartObj = cartObj-1].cart_Quantity %>" readonly>
                                    <button formaction="/updateCartPlus/<%- productsData.id %>?_method=PUT" type="submit" name="increase" onclick="increaseCount(event, this)">
                                        <i class="fa fa-plus-circle" aria-hidden="true"></i>
                                    </button>                                    
                                </form>
                            </section>
                            <section>
                                <p>$</p>
                                <p id="priceItem"><%= toThousand(productsData.price) %></p>
                            </section>
                            <section>
                                <% if (productsData.discount) { %>
                                    <div class="discount_Tag_Plist">
                                        <p id="discountVal"><%= productsData.discount %>% OFF</p>
                                    </div>
                                <% } else { %>
                                    <p id="discountVal"></p>
                                <% } %>
                            </section>
                            <section>
                                <p>$</p>
                                <p id="finalPriceItem"><%= toThousand((cartData[cartObj].cart_Quantity)*(productsData.finalPrice)) %></p>
                            </section>
                            <section>
                                <form class="delete_Plist" action="/cart_delete/<%- productsData.id %>?_method=DELETE" method="POST">
                                    <button class="delete_Plist" type="submit" title="Borrar Producto"><i class="fa fa-trash" aria-hidden="true"></i></button>
                                </form>
                            </section>
                        </section>
                    <% }) %>
                    <section class="totalPrice">
                        <p>Precio Total: $<%= toThousand(totalToPay) %> </p>
                    </section>
                </section>
                <!-- Seccion 2 -->
                <div class="payment_Area">
                    <!-- <div class="titlePayments">
                        Detalle de tu Compra
                    </div> -->
                    
                    <section class="shippingSection">
                        <div>
                            Calcular Envio
                        </div>
                        <div class="gridShipping">
                            <label for="cpcode">Codigo Postal:</label>
                            <section class="cp_Input">
                                <input type="number" id="cpcode" placeholder="Ej: 1823">
                                <button onclick="shippingCost()" value="">Calcular</button>
                            </section>
                            <label>Costo:</label>
                            <div id="shippingCost">$</div>
                        </div>
                    </section>
        
                    <section class="paymentSection">
                        <div class="titlePayments">
                            Medios de Pago
                        </div>
                        <div class="payments_list">
                            <section class="payments_Options">
                                <button class="buttonSelected" onclick="openPaymentSection(event, 'cashTab')">
                                    <i class="fa fa-money iconPayment" aria-hidden="true"></i>
                                    Efectivo
                                </button>
                                <button class="buttonSelected" onclick="openPaymentSection(event, 'cardTab')">
                                    <i class="fa fa-credit-card iconPayment" aria-hidden="true"></i>
                                    Tarjeta
                                </button>
                                <button class="buttonSelected" onclick="openPaymentSection(event, 'mpTab')">
                                    <i class="fa fa-handshake-o iconPayment" aria-hidden="true"></i>
                                    MercadoPago
                                </button>
                            </section>
                            <section class="cashSection tabContent" id="cardTab">
                                <div class="bg_CartMSG">
                                    <p>Podes Abonarlo con Tarjeta, Recorda que una vez abonado deberas esperar la confirmacion por E-Mail.</p>
                                    <p>Hace click abajo para Abonar con este Medio.</p>
                                </div>
                                
                                <button style="margin: auto;" onclick="location.href='/checkout/2'">Pagar con Tarjeta</button>
                            </section>
                            <section class="cashSection tabContent" id="cashTab">
                                <div class="bg_CartMSG">
                                    <p>Podes Retirarlo y Pagar en efectivo en nuestro local de Lunes a Sabados de 8hs a 22hs.</p>
                                    <p>Hace click abajo para Abonar con este Medio.</p>
                                </div>
                                <button style="margin: auto;" onclick="location.href='/checkout/1'">Pagar en Efectivo</button>
                            </section>
                            <section class="cashSection tabContent" id="mpTab">
                                <div class="bg_CartMSG">
                                    <p>Podes Abonar con MercadoPago , Recorda que una vez abonado deberas esperar la confirmacion por E-Mail</p>
                                    <p>Hace click abajo para Abonar con este Medio.</p>
                                </div>
                                <button style="margin: auto;" onclick="location.href='/checkout/3'">Pagar con MP</button>
                            </section>
                        </div>
                    </section>
                    <section class="buySection">
                        <a href="/productos">Seguir Comprando</a>
                    </section>
                </div>
            </div>

        <% } else { %>
                 
        <div class="empty_Cart">
            <p>Tu Carrito esta Vacio</p>
            <small>Pero pensamos que estas ofertas pueden interesarte.</small>
        </div>

        <% } %>
        <p class="titleSliderRec">Productos Recomendados</p>
        <%- include('../partials/slider.ejs') %>  
    </main>
    <%- include('../partials/footer.ejs') %> 
  </div>
</body>
</html>