<!DOCTYPE html>
<html lang="es">
<%- include('../partials/head.ejs' ,{title: 'Favoritos - '}) %>
<body>
  <div class="container_Page">
    <%- include('../partials/header.ejs') %>   
    <main>
      <section class="favoritesSection">
        <div class="titles">Tus Favoritos</div>
        <% for( let i = 0; i < productsData.length; i++ ) { %>
          <article class="favoriteProduct">
            <input type="checkbox" name="selectFavorite" id="selectFavorite">
            <div class="favoritePicture"><img src="/images/products/<%=productsData[i].image[0] %>" alt=""></div>
            <div class="favoriteName"><%= productsData[i].name %></div>
            <div class="favoritePrice">$<%= toThousand(productsData[i].price) %></div>
            <button class="favoriteDelete"><i class="fa fa-trash" aria-hidden="true"></i></button>
          </article>
        <% } %>
      </section>
    </main>
    <%- include('../partials/footer.ejs') %> 
  </div>
</body>
</html>