<!DOCTYPE html>
<html lang="es">
<%- include('../partials/head.ejs' ,{title: 'Favoritos - '}) %>
<body>
  <div class="container_Page">
    <%- include('../partials/header.ejs') %>   
    <main>
      <section class="favHisSection">
        <div class="titles">Tus Favoritos</div>
        <% productsData.forEach(favoriteProduct => { %>
          <article class="favHisProduct">
            <input type="checkbox" name="selectFavorite" id="selectFavHis">
            <div class="favHisPicture"><img src="/images/products/<%=favoriteProduct.images[0]?.image_Route %>" alt=""></div>
            <div class="favHisName"><a href="/productos/<%= favoriteProduct.Category.category_Link %>/<%= favoriteProduct.Subcategory.subcategory_Link %>/<%= favoriteProduct.id %>"><%= favoriteProduct.name %></a></div>
            <div class="favHisPrice">$<%= toThousand(favoriteProduct.price) %></div>
            <form class="favHisDeleteForm" action="/borrar-favorito-user/<%- favoriteProduct.id %>?_method=DELETE" method="POST">
              <button class="favHisDelete" type="submit" title="Borrar Producto"><i class="fa fa-trash" aria-hidden="true"></i></button>
            </form>
          </article>
        <% }) %>
      </section>
    </main>
    <%- include('../partials/footer.ejs') %> 
  </div>
</body>
</html>