<!DOCTYPE html>
<html lang="es">
<%- include('../partials/head.ejs' ,{title: 'Favoritos - '}) %>
<body>
  <div class="container_Page">
    <%- include('../partials/header.ejs') %>   
    <main>
      <section class="favoritesSection">
        <div class="titles">Tus Favoritos</div>
        <% productsData.forEach(favoriteProduct => { %>
          <article class="favoriteProduct">
            <input type="checkbox" name="selectFavorite" id="selectFavorite">
            <div class="favoritePicture"><img src="/images/products/<%=favoriteProduct.images[0]?.image_Route %>" alt=""></div>
            <div class="favoriteName"><a href="/productos/<%= favoriteProduct.Category.category_Link %>/<%= favoriteProduct.Subcategory.subcategory_Link %>/<%= favoriteProduct.id %>"><%= favoriteProduct.name %></a></div>
            <div class="favoritePrice">$<%= toThousand(favoriteProduct.price) %></div>
            <button class="favoriteDelete"><i class="fa fa-trash" aria-hidden="true"></i></button>
          </article>
        <% }) %>
      </section>
    </main>
    <%- include('../partials/footer.ejs') %> 
  </div>
</body>
</html>