<!DOCTYPE html>
<html lang="es">
<%- include('../partials/head.ejs' ,{title: 'Iniciar Sesion - '}) %>
<body class="background_Leaves">
  <div class="container_Page">
    <%- include('../partials/header.ejs') %>   
    <main>
      <form action="/login" method="POST">
        <section class="login_Reg_Container">
            <div class="login_Reg_Box">
                <section class="titleLogin">
                    <p>Bienvenido!</p>
                </section>
                <section class="email_Area_Login">
                    <input type="email" name="email" id="emailUser" placeholder="Ingrese su E-mail: ">
                    <% if (locals.errors && errors.email) { %>
                        <small class="error-message"><%= errors.email.msg %></small>
                    <% } %>
                </section>
                <section class="password_Area_Login">
                    <input type="password" name="pass" id="passUser" placeholder="Ingrese su Contraseña: ">
                    <% if (locals.errors && errors.pass) { %>
                        <small class="error-message"><%= errors.pass.msg %></small>
                    <% } %>
                </section>
                <section class="rememberMe">
                    <input type="checkbox" name="rememberDevice" id="recordar">
                    <label for="recordar"><pre>Recordarme en este Dispositivo.</pre></a></label>
                </section>
                <section class="buttonsLoginRegister">
                    <button type="submit">Iniciar Sesion</button>
                    <button type="reset" onclick="location.href='/registro'">Crear Cuenta</button>
                </section>
                <section class="goToForgetPassword">
                    <a href="/restablecer_contrasena"><pre>¿Olvidaste tu contraseña? <strong>Hace Click Aqui.</strong></pre></a>
                </section>
            </div>
            
        </section>
      </form>
    </main>
    <%- include('../partials/footer.ejs') %> 
  </div>
</body>
</html>