<!DOCTYPE html>
<html lang="es">
<%- include('../partials/head.ejs' ,{title: 'Perfil - '}) %>
<body class="background_Leaves">
  <div class="container_Page">
    <%- include('../partials/header.ejs') %>   
   
    <main class="perfil-usuario">
        <div class="menu-desplegable">
            <input type="checkbox" name="" id="btn-menu">
            <label for="btn-menu" class="label-perfil"><i class="fas fa-bars"></i></label>
            
            <nav class="menu-usuario">
              <p><!-- aca se muestra lo q se seleccione por ejemplo -->Mis datos</p>
              <ul>
                  <li><i class="fas fa-shopping-bag"></i> Mis Compras</li>
                  <li><i class="fas fa-store"></i> Ventas</li>
                  <li><a href="/editar-perfil"><i class="fas fa-cog"></i> Configuraciones</a></li>
                  <li>mas</li>
              </ul>
          </nav>
        </div>

        <div class="main-conteiner-pefil">
          <img class="profilePicP" src="/images/users/<%=user.image %>" alt="<%=user.image %>">
          <h2>Mis Datos</h3><!-- primer encabezado que se ve en la vista -->

          <div class="subtitulo-mis-datos">
              Datos de cuenta
          </div>

          <div class="info">
            <div class="contenedor-flex">
              <div class="indicador">
                <span>Usuario: </span>
              </div>
              <div class="indicador-value">
                <span><%= users.name %> </span>
              </div>
            </div>
            <div class="info">
              <div class="contenedor-flex">
                <div class="indicador">
                  <span>E-mail: </span>
                </div>
                <div class="indicador-value">
                  <span><%= users.email %></span>
                </div>
              </div>
              <div class="subtitulo-mis-datos">
                Datos personales
              </div>
          <div class="info">
            <div class="contenedor-flex">
              <div class="indicador">
                <span>Nombre:</span>
              </div>
              <div class="indicador-value">
                <span><%= users.name %> <%= users.surname %><!-- Aca iría el nombre de la cuenta --></span>
              </div>
            </div>
            
          <div class="info">
            <div class="contenedor-flex">
              <div class="indicador">
                <span>Documento:</span>
              </div>
              <div class="indicador-value">
                <span><%= users.dni ? toDNI(users.dni) : "--.---.---" %></span>
              </div>
            </div>
            <div class="info">
              <div class="contenedor-flex">
                <div class="indicador">
                  <span>Telefono:</span>
                </div>
                <div class="indicador-value">
                  <span><%= users.phone ? users.phone : "-- ---- ----" %></span>
                </div>
              </div>
            </div>
            
            <div class="subtitulo-mis-datos">
              Domicilio
            </div>

            <div class="tarjetas-contenedoras">
              <div class="datos-tarjetas">
                <p><%= users.address ? users.address : "Direccion" %> </p>
                <p class="info-tarjeta"><%= users.province  %> , <%= users.city %> </p>
               </div>
            </div>

          </div>



        </div>
       


    </main>

    <%- include('../partials/footer.ejs') %> 
  </div>
</body>
</html>