<!DOCTYPE html>
<html lang="es">
<%- include('../partials/head.ejs' ,{title: 'Registrate - '}) %>
<body class="background_Leaves">
  <div class="container_Page">
    <%- include('../partials/header.ejs') %>   
    <main>
      <form action="/registro" method="POST">
          <section class="login_Reg_Container">
              <div class="login_Reg_Box">
                <section class="titleLogin">
                    <p>Crea tu Cuenta</p>
                </section>
                <section class="name_Area_Register">
                    <input type="text" name="name" id="name" placeholder="Nombre: ">
                    <% if (locals.errors && errors.name) { %>
                        <small class="error-message"><%= errors.name.msg %> </small>
                    <% } %>
                </section>
                <section class="name_Area_Register">
                    <input type="text" name="surname" id="surname" placeholder="Apellido: ">
                    <% if (locals.errors && errors.surname) { %>
                        <small class="error-message"><%= errors.surname.msg %> </small>
                    <% } %>
                </section>
                <section class="email_Area_Register">
                    <input type="email" name="email" id="email" placeholder="Correo Electronico:">
                    <% if (locals.errors && errors.email) { %>
                        <small class="error-message"><%= errors.email.msg %> </small>
                    <% } %>
                </section>
                <section class="password_Area_Register">
                    <input type="password" name="pass" id="pass" placeholder="Contraseña:">
                    <% if (locals.errors && errors.pass) { %>
                        <small class="error-message"><%= errors.pass.msg %> </small>
                    <% } %>
                </section>
                <section class="password_Area_Register">
                    <input type="password" name="passCheck" id="passCheck" placeholder="Confirmar Contraseña:">
                    <% if (locals.errors && errors.passCheck) { %>
                        <small class="error-message"><%= errors.passCheck.msg %> </small>
                    <% } %>
                </section>
                <section class="buttonsLoginRegister">
                    <button type="submit">Crear Cuenta</button>
                    <button type="reset" onclick="location.href='/login'">Iniciar Sesion</button>
                </section>
                <section class="termsAndConditions">
                    <pre>"Al Presionar "Crear Cuenta" estas aceptando nuestros <a href="/terminos">Términos y Condiciones."</a>
                    </pre>
                </section>
              </div>
              
          </section>
      </form>
    </main>
    <%- include('../partials/footer.ejs') %> 
  </div>
</body>
</html>