<!DOCTYPE html>
<html lang="es">
<%- include('../partials/head.ejs' ,{title: 'Banners - '}) %>
<head>
    <script src="/javascripts/previewImage_Admin.js" defer></script>
    <script src="/javascripts/admin.js" defer></script>
</head>
<body>
  <div class="container_Page"> 
    <%- include('../partials/adminHeader.ejs') %>
    <main class="admin">
        <section class="adminContainer">
            <%- include('../partials/adminSidePanel.ejs') %>
            <section class="grid_banners AdminContent">
                <section class="grid_list_box">
                    <section class="grid_item_list grid_titles">
                        <div class="grid_Id_List">ID</div>
                        <div class="grid_Image_List">Banner</div>
                        <div class="grid_Delete_List">Borrar</div>
                    </section>
                    <% bannersData.forEach(banner => { %>
                        <section class="grid_item_list">
                            <div class="grid_Id_List">#<%= banner.id %> </div>
                            <div class="grid_Image_List"><img src="/images/banners/<%= banner.image_Route %>" alt=""></div>
                            <div class="grid_Delete_List">
                                <i id="btnDeleteUser" class="fa fa-trash" aria-hidden="true"></i>
                            </div>

                            <div class="modalFormBox">
                                <form class="modalFormContent" action="/admin/borrarBanner/<%- banner.id %>?_method=DELETE" method="POST">
                                    <p>¿Desea Borrar el Banner N° <%= banner.id %>?</p>
                                    <div style="display: inline-flex; gap: 20px;">
                                        <button class="cancelDeleteBTN" type="button" title="Cancelar">Cancelar</button>
                                        <button type="submit" title="Borrar Banner">Confirmar</button>
                                    </div>
                                </form>
                            </div>

                        </section>
                    <% }) %>
                </section>
                <form action="/admin/banners/" method="POST" enctype="multipart/form-data">
                    <section class="boxImageButtonAdd">
                        <label class="buttonToAddImage">
                            <input type="file" id="examinar" name="image_Route" accept=".jpg, .png, .webp, .jpeg, .bmp">
                            <p><i class="fa fa-upload" aria-hidden="true"></i> Agregar Banner</p>
                        </label>
                        <div id="imagePreview" class="bannerPreview">
                        </div>
                        <p id="errorImage"></p>
                        <button type="submit" id="saveButtonIMG" class="grid_submitButton" disabled>Guardar Banner</button>
                    </section>
                </form>
            </section>
        </section>        
    </main>
  </div>
</body>
</html>