<!DOCTYPE html>
<html lang="es">
<%- include('../partials/head.ejs' ,{title: 'Agregar Producto - '}) %>
<head>
    <script src="/javascripts/previewImage_Admin.js" defer></script>
    <script src="/javascripts/admin.js" defer></script>
</head>
<body class="background_Leaves">
  <div class="container_Page">
    <%- include('../partials/adminHeader.ejs') %>
    <main class="admin">
        <section class="adminContainer">
            <%- include('../partials/adminSidePanel.ejs') %>
            <form action="/admin/agregar-producto/" method="POST" class="admin_Grid AdminContent" enctype="multipart/form-data">
                
                <div class="contenedor">
                    
                    <div class="seleccionar">
                        <div class="cat1admin">
                            <select name="product_Category" id="inputCategoryProduct" class="input-select">
                                <% categoriesData.forEach(catg => { %>
                                    <option value="<%= catg.id %>"><%= catg.category_Name %></option>
                                <% }) %>
                            </select>
                            <% if (locals.errors && errors.product_Category) { %>
                                <small class="error-message"><%= errors.product_Category.msg %> </small>
                            <% } %>
                            <select name="product_Subcategory" id="inputSubCategoryProduct" class="input-select">
                                <% subCategoriesData.forEach(scatg => { %>
                                    <option value="<%= scatg.id %>"><%= scatg.subcategory_Name %></option>
                                <% }) %>
                            </select>
                            <% if (locals.errors && errors.product_Subcategory) { %>
                                <small class="error-message"><%= errors.product_Subcategory.msg %> </small>
                            <% } %>
                        </div>
            
                        <div class="cat2admin">
                            <input type="text" name="name" placeholder="Nombre del Producto" class="input-select">
                            <% if (locals.errors && errors.name) { %>
                                <small class="error-message"><%= errors.name.msg %> </small>
                            <% } %>
    
                            <input type="number" name="discount" placeholder="Descuento" value="0" class="input-select">
                        </div>
                    </div>
                
                </div>
    
                <section class="infoProductAdmin">
                    <div class="descripcion-producto">
                        <h4>Descripcion del Producto</h4>
                        <textarea name="description" placeholder="Descripcion del Producto" id="mensaje" cols="30" rows="10" ></textarea>
                    </div>
                    <div class="precio-admin">
                        <label for="precio">Precio $</label>
                        <input type="number" required placeholder="Ingrese el Precio" name="price" class="input-select" >
                        <% if (locals.errors && errors.price) { %>
                            <small class="error-message"><%= errors.price.msg %> </small>
                        <% } %>
                    </div>
                </section>
    
                <section class="agregar-imagen">
                    <label for="archivo">Agregar archivos de Imagen</label>
                    <hr>
                    <input type="file" id="examinar" name="image_Route" multiple accept=".jpg, .png, .webp, .jpeg, .bmp">
                    <% if (locals.errors && errors.image_Route) { %>
                        <small class="error-message"><%= errors.image_Route.msg %> </small>
                    <% } %>
                </section>
    
                <section class="imagePreviewSection">
                    <div id="imagePreview">
                        
                    </div>
                    <p id="errorImage"></p>
                </section>
                <button type="submit" class="finalizar">Finalizar</button>
            </form>
        </section>        
    </main>
  </div>
</body>
</html>