<!DOCTYPE html>
<html lang="es">
<%- include('../partials/head.ejs' ,{title: 'Lista de Usuarios - '}) %>
<%- include('../partials/adminHead.ejs') %>
<body>
  <div class="container_Page">
    <%- include('../partials/adminHeader.ejs') %>
    <main>
      <section class="user_List_Container adminContainer">
        <%- include('../partials/adminSidePanel.ejs') %>
        <section class="AdminContent">
          <section class="user_List_Box">
            <nav class="admin_List_Titles adm_Grid_List">
              <p>ID</p>
              <p>Nombre</p>
              <p>Apellido</p>
              <p>E-Mail</p>
              <p>Editar</p>
              <p>Eliminar</p>
            </nav>
            <% usersData.forEach(usuario => { %>
            <section class="admin_List_PG adm_Grid_List">
              <p><%= usuario.id %></p>
              <p><%= usuario.name %></p>
              <p><%= usuario.surname %></p>
              <p><%= usuario.email %></p>
              <a href="/admin/editar-usuario/<%= usuario.id %>" title="Editar Usuario"><i class="fa fa-pencil" aria-hidden="true"></i></a>
              <i id="btnDeleteUser" class="fa fa-trash" aria-hidden="true"></i>
              
              <div class="modalFormBox">
                <form class="modalFormContent" action="/admin/borrarUsuario/<%- usuario.id %>?_method=DELETE" method="POST">
                  <p>¿Desea Borrar a <%= usuario.name %>?</p>
                  <button class="cancelDeleteBTN" type="button" title="Cancelar">Cancelar</button>
                  <button type="submit" title="Borrar Usuario">Confirmar</button>
                </form>
              </div>

            </section>
            <% }) %>
          </section>
          <section class="pagesBox">
            <% if (pageActive < 0) { %>
                <a title="Pagina 1" style="background-color: #000000; color: white; user-select: none;">1</a>
            <% } else { %>

                <% if (pageActive === 0) { %>
                <% } else { %>
                    <a title="Pagina <%= pageActive %>" href="?page=<%= pageActive %><%= searchQuery %>"><i class="fa fa-chevron-left" aria-hidden="true"></i></a>
                <% } %>

                <% for( let i = 0; i < Math.round(pagesCount/quantityProducts); i++ ) { %>

                    <% if (pageActive === i) { %>
                        <a title="Pagina <%= [i+1]%>" style="background-color: #000000; color: white; user-select: none;"><%= [i+1] %></a>
                    <% } else { %>
                        <a title="Pagina <%= [i+1]%>" href="?page=<%= [i+1]%><%= searchQuery %>"><%= [i+1] %></a>
                    <% } %>

                <% } %>

                <% if (pageActive+2 > Math.round(pagesCount/quantityProducts)) { %>
                <% } else { %>
                    <a title="Pagina <%= pageActive+2 %>" href="?page=<%= pageActive+2 %><%= searchQuery %>"><i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                <% } %>
                
            <% } %>
        </section>
        </section>
      </section>
    </main>
  </div>
</body>
</html>