<!DOCTYPE html>
<html lang="es">
<%- include('../partials/head.ejs' ,{title: 'Panel Admin - '}) %>
<%- include('../partials/adminHead.ejs') %>
<body>
  <div class="container_Page">
    <%- include('../partials/adminHeader.ejs') %>
    <main>
        <section class="adminContainer">
            <%- include('../partials/adminSidePanel.ejs') %>
            <section class="AdminContent">
                <section class="adminListProducts">
                    <article class="product_Available">
                      <div class="apID">
                        ID
                      </div>
                      <div class="apName">
                        Nombre
                      </div>
                      <div class="apGoTo apHide">
                        Ver Producto
                      </div>
                      <div class="apEdit apHide">
                        Editar Producto
                      </div>
                      <div class="apEditGoto">
                        Ver/Editar
                      </div>
                      <div class="apDelete">
                        Borrar
                      </div>
                    </article>
                    <% productsData.forEach(productAvailable => { %>
                      <article class="product_Available">
                        <div class="apID"><%=productAvailable.id %></div>
                        <div class="apName"><%=productAvailable.name %></div>
                        <div class="apGoTo"><a href="/productos/<%= productAvailable.Category.category_Link %>/<%= productAvailable.Subcategory.subcategory_Link %>/<%= productAvailable.id %>"><i class="fa fa-eye" aria-hidden="true"></i></a></div>
                        <div class="apEdit"><a href="/admin/editar-producto/<%=productAvailable.id %>"><i class="fa fa-pencil" aria-hidden="true"></i></a></div>
                        
                        <i id="btnDeleteUser" class="fa fa-trash apDelete" aria-hidden="true"></i>
              
                        <div class="modalFormBox">
                          <form class="modalFormContent" action="/admin/borrarProducto/<%- productAvailable.id %>?_method=DELETE" method="POST">
                            <p>Desea Eliminar el Producto <%= productAvailable.name %></p>
                            <button class="cancelDeleteBTN" type="button" title="Cancelar">Cancelar</button>
                            <button type="submit" title="Borrar Producto">Confirmar</button>
                          </form>
                        </div>

                      </article>
                    <% }) %>
                  </section>
            </section>
        </section>
    </main>
  </div>
</body>
</html>