<!DOCTYPE html>
<html lang="es">
<%- include('../partials/head.ejs' ,{title: 'Edicion de Producto - '}) %>
<body>
  <div class="container_Page">  
    <main>
      <div class="admin_Nav">
        <nav>
            <a href="/admin/lista-productos">Lista de Productos</a>
            <a href="/admin/lista-productos/stock">Stock</a>
            <a href="/admin/lista-productos/ofertas">Ofertas</a>
            <a href="/admin/banners">Banners</a>
        </nav>
        <section class="editProductSection">
            <div>Edicion del Producto: <%= product.name %></div>
            <form action="/admin/editar-producto/<%= product.id %>?_method=PUT" enctype= "multipart/form-data" method="POST">
                <div class="dataEditSection">
                    <section>
                        <label for="inputNameProduct">Nombre del Producto:</label>
                        <input type="text" name="name" id="inputNameProduct" value="<%= product.name %>">
                        <div class="col2EditProduct">
                            <article>
                                <label for="inputCategoryProduct">Categoría:</label>
                                <select name="category_Name" id="inputCategoryProduct">
                                    <% categoriesPromise.forEach(category => { %>
                                        <% if ( category.category_Name === category.id) { %>
                                            <option value="<%= category.id %>" selected ><%= category.category_Name %></option>
                                            <% } else { %>
                                            <option value="<%= category.id %>"><%= category.category_Name %></option>
                                        <% } %>
                                    <% }) %>                
                                </select>
                            </article>

                            <article>
                                <label for="inputSubCategoryProduct">Subcategoría:</label>
                                <select name="subcategory" id="inputSubCategoryProduct">
                                    <% subcategoriesPromise.forEach(subcategory => { %>
                                        <% if (product.subcategory_Name === subcategory.id) { %>
                                            <option value="<%= subcategory.id %>" selected><%= subcategory.subcategory_Name %></option>
                                            <% } else { %>
                                            <option value="<%= subcategory.id %>"><%= subcategory.subcategory_Name %></option>
                                        <% } %>
                                    <% }) %>
                                </select>
                            </article>
                        </div>
                        <label for="inputDescriptionProduct">Descripcion del Producto:</label>
                        <textarea name="description" id="inputDescriptionProduct" cols="30" rows="5" class="textAreaEditProduct"><%= product.description %></textarea>
                    
                    </section>
                    <section>
                        <label>Se encuentra en Oferta?</label>
                        <div class="switchButton">
                            <% if (product.onSale === 1) { %>
                                <input type="radio" id="onSaleYes" name="onSale" value=1 checked="checked">
                                <label for="onSaleYes">Si</label>
                                <input type="radio" id="onSaleNo" name="onSale" value=0>
                                <label for="onSaleNo">No</label>
                             <% } else { %>
                                <input type="radio" id="onSaleYes" name="onSale" value=1>
                                <label for="onSaleYes">Si</label>
                                <input type="radio" id="onSaleNo" name="onSale" value=0 checked="checked">
                                <label for="onSaleNo">No</label>
                            <% } %>
                        </div>
                        <div class="col2EditProduct">
                            <article>
                                <label for="inputColorProduct">Color:</label>
                                <input type="text" name="color" id="inputColorProduct" value="<%= product.color %>">
                            </article>
                            <article>
                                <label for="inputPriceProduct">Precio:</label>
                                <input type="number" name="price" id="inputPriceProduct" value="<%= product.price %>">
                            </article>
                        </div>

                        <div class="col2EditProduct">
                            <article>
                                <label for="inputStockProduct">Stock:</label>
                                <input type="number" name="stock" id="inputStockProduct" value="<%= product.stock %>">
                            </article>
                            <article>
                                <label for="inputDiscountProduct">Descuento:</label>
                                <input type="number" name="discount" id="inputDiscountProduct" value="<%= product.discount %>">
                            </article>
                        </div>

                    </section>
                </div>
                <div id="addProductImages">
                    <label class="addImagesButton">
                        <input type="file" name="image" multiple accept=".jpg, .png, .webp, .jpeg, .bmp">
                        <p><i class="fa fa-upload" aria-hidden="true"></i> Agregar Imagenes</p>
                    </label>
                    <p>Imagenes del Producto</p>
                </div>
                <div class="imgBoxEdit">
                    <% product.images.forEach(image => { %>
                        <section class="productImageEdit">
                            <img src="/images/products/<%= image.image_Route %>" alt="Default">
                        </section>
                    <% }) %>
                        
                   

                    <% let fillImageBlocks = 4-(product.images.length) %> 
                    <% if (product.images.length < 4) { %>
                        <% for( let i = 0; i < fillImageBlocks; i++ ) { %>
                            <section class="productImageEdit">
                                <img src="/images/products/<%= product.images[i] %>" alt="Default">
                            </section>
                        <% } %>
                    <% } else { %>
                     
                    <% } %>
                </div>
                <div class="editProductSaveCancel">
                    <button type="submit">Guardar</button>
                    <button type="reset" onclick="location.href='/admin/lista-productos'">Cancelar</button>
                </div>
            </form>
        </section>
        
      </div>
    </main>
  </div>
</body>
</html>