<!DOCTYPE html>
<html lang="es">
<%- include('../partials/head.ejs' ,{title: 'Edicion de Producto - '}) %>
<%- include('../partials/adminHead.ejs') %>
<body>
  <div class="container_Page">
    <%- include('../partials/adminHeader.ejs') %>
    <main>
        <section class="adminContainer">
            <%- include('../partials/adminSidePanel.ejs') %>
            <section class="editProductSection AdminContent">
                <div>Edicion del Producto N°<%= productToEdit.id %></div>
                <form action="/admin/editar-producto/<%= productToEdit.id %>?_method=PUT" enctype= "multipart/form-data" method="POST">
                    <div class="dataEditSection">
                        <section>
                            <label for="inputNameProduct">Nombre del Producto:</label>
                            <input type="text" name="name" id="inputNameProduct" value="<%= productToEdit.name %>">
                            <div class="col2EditProduct">
                                <article>
                                    <label for="inputCategoryProduct">Categoría:</label>
                                    <select name="product_Category" id="inputCategoryProduct">
                                        <% categoriesData.forEach(catg => { %>
                                            <% if (productToEdit.product_Category === catg.id) { %>
                                                <option value="<%= catg.id %>" selected><%= catg.category_Name %></option>
                                                <% } else { %>
                                                <option value="<%= catg.id %>"><%= catg.category_Name %></option>
                                            <% } %>
                                        <% }) %>
                                    </select>
                                </article>
    
                                <article>
                                    <label for="inputSubCategoryProduct">Subcategoría:</label>
                                    <select name="product_Subcategory" id="inputSubCategoryProduct">
                                        <% subCategoriesData.forEach(scatg => { %>
                                            <% if (productToEdit.product_Subcategory === scatg.id) { %>
                                                <option value="<%= scatg.id %>" selected><%= scatg.subcategory_Name %></option>
                                                <% } else { %>
                                                <option value="<%= scatg.id %>"><%= scatg.subcategory_Name %></option>
                                            <% } %>
                                        <% }) %>
                                    </select>
                                </article>
                            </div>
                            <label for="inputDescriptionProduct">Descripcion del Producto:</label>
                            <textarea name="description" id="inputDescriptionProduct" cols="30" rows="5" class="textAreaEditProduct"><%= productToEdit.description %></textarea>
                        
                        </section>
                        <section>
                            <label>Se encuentra en Oferta?</label>
                            <div class="switchButton">
                                <% if (productToEdit.onSale) { %>
                                    <input type="radio" id="onSaleYes" name="onSale" value=1 checked="checked">
                                    <label for="onSaleYes">Si</label>
                                    <input type="radio" id="onSaleNo" name="onSale" value=0>
                                    <label for="onSaleNo">No</label>
                                 <% } else { %>
                                    <input type="radio" id="onSaleYes" name="onSale" value=1>
                                    <label for="onSaleYes">Si</label>
                                    <input type="radio" id="onSaleNo" name="onSale" value=0 checked="checked">
                                    <label for="onSaleNo">No</label>
                                <% } %>
                            </div>
                            <div class="col2EditProduct">
                                <article>
                                    <label for="inputColorProduct">Color:</label>
                                    <input type="text" name="color" id="inputColorProduct" value="<%= productToEdit.color %>">
                                </article>
                                <article>
                                    <label for="inputPriceProduct">Precio:</label>
                                    <input type="number" name="price" id="inputPriceProduct" value="<%= productToEdit.price %>">
                                </article>
                            </div>
    
                            <div class="col2EditProduct">
                                <article>
                                    <label for="inputStockProduct">Stock:</label>
                                    <input type="number" name="stock" id="inputStockProduct" value="<%= productToEdit.stock %>">
                                </article>
                                <article>
                                    <label for="inputDiscountProduct">Descuento:</label>
                                    <input type="number" name="discount" id="inputDiscountProduct" value="<%= productToEdit.discount %>">
                                </article>
                            </div>
    
                        </section>
                    </div>
                    
                    <div class="editProductSaveCancel">
                        <button type="submit">Guardar</button>
                        <button type="reset" onclick="location.href='/admin'">Cancelar</button>
                    </div>
                </form>
                <div class="imagesBoxProduct">
                    <p class="imagesTitle">Imagenes del Producto</p>
                    <div class="imgBoxEdit">
                        <% for( let i = 0; i < productToEdit.images.length; i++ ) { %>
                            <section class="productImageEdit">
                                <img id="imagePreviewEdit" src="/images/products/<%= productToEdit.images[i].image_Route %>" alt="<%= productToEdit.name %>">
                                <form id="uploadNewImage" action="/subir-foto/<%- productToEdit.id %>" method="POST" enctype="multipart/form-data" onsubmit="submitThisForm(event,this)">
                                    <label class="buttonToAddImage noMG delPicBTN">
                                        <input id="examinar" type="file" name="image_Route" accept=".jpg, .png, .webp, .jpeg, .bmp">
                                        <p><i class="fa fa-upload" aria-hidden="true"></i>Subir Foto</p>
                                    </label>
                                    <button class="buttonToAddImage noMG delPicBTN" type="submit"><p><i class="fa fa-floppy-o" aria-hidden="true"></i>Guardar Foto</p></button>
                                </form>
                                <form action="/admin/borrarImagenProducto/<%- productToEdit.images[i].id %>?_method=DELETE" method="POST" onsubmit="submitThisForm(event,this)">
                                    <button id="delBTNP" class="buttonToAddImage noMG delPicBTN" type="submit"><p><i class="fa fa-trash" aria-hidden="true"></i>Borrar Foto</p></i></button>
                                </form>
                            </section>
                        <% } %>
    
                        <% if (productToEdit.images.length < 4) { %>
                            <% for( let i = 0; i < 4-(productToEdit.images.length); i++ ) { %>
                                <section class="productImageEdit">
                                    <img id="imagePreviewEdit" src="/images/products/default.jpg" alt="Default">
                                    <form id="uploadNewImage" action="/admin/subir-foto/<%- productToEdit.id %>" method="POST" enctype="multipart/form-data" onsubmit="submitThisForm(event,this)">
                                        <label class="buttonToAddImage noMG delPicBTN">
                                            <input id="examinar" type="file" name="image_Route" accept=".jpg, .png, .webp, .jpeg, .bmp">
                                            <p><i class="fa fa-upload" aria-hidden="true"></i>Subir Foto</p>
                                        </label>
                                        <button class="buttonToAddImage noMG delPicBTN" type="submit"><p><i class="fa fa-floppy-o" aria-hidden="true"></i>Guardar Foto</p></button>
                                    </form>
                                </section>
                            <% } %>
                        <% } else { %>
                         
                        <% } %>
                    </div>
                </div>
            </section>
        </section>
    </main>
  </div>
</body>
</html>