<!DOCTYPE html>
<html lang="es">
<%- include('../partials/head.ejs' ,{title: 'Editar Usuario - '}) %>
<%- include('../partials/adminHead.ejs') %>
<body>
  <div class="container_Page">
    <%- include('../partials/adminHeader.ejs') %>
    <main>
        <section class="adminContainer">
            <%- include('../partials/adminSidePanel.ejs') %>
            <form id="form" action="/admin/editar-usuario/<%= user.id %>?_method=PUT" method="POST" class="user_Edit_Box user_Edit_Grid AdminContent">
                <section class="user_Col_1">
                    <p>Datos Personales</p>
                    
                    <div class="input_Wrap">
                        <label for="name">Nombre:</label>
                        <input type="text" name="name" id="name" value="<%= user.name %>">
                        <span class="error" id="nameErrors"></span>
                    </div>

                    <div class="input_Wrap">
                        <label for="surname">Apellido:</label>
                        <input type="text" name="surname" id="surname" value="<%= user.surname %>">
                        <span class="error" id="surnameErrors"></span>
                    </div>

                    <div class="input_Wrap">
                        <label for="address">Domicilio:</label>
                        <input type="text" name="address" id="address" value="<%= user.address %>">
                        <span class="error" id="addressErrors"></span>
                    </div>
    
                    <section class="user_Edit_Grid noRows">
                        <div class="user_Col_1 noBorder_PD">
                            <div class="input_Wrap noPD">
                                <label for="dni">DNI:</label>
                                <input type="number" name="dni" id="dni" value="<%= user.dni %>">
                                <span class="error" id="dniErrors"></span>
                            </div>
                        </div>
                        <div class="user_Col_2 flex_col noBorder_PD mtop13opt">
                            <label for="role">Rol:</label>
                            <select name="role" id="role">
                                <% if (user.role === "ROLE_ADMIN") { %>
                                    <option value="ROLE_ADMIN" selected>Admin</option>
                                    <option value="ROLE_USER">Usuario</option>
                                <% } else { %>
                                    <option value="ROLE_ADMIN">Admin</option>
                                    <option value="ROLE_USER" selected>Usuario</option>
                                <% } %>
                            </select>
                        </div>
                    </section>
    
                </section>
                <section class="user_Col_2">
    
                    <p>Datos de Contacto</p>
    
                    <section class="user_Edit_Grid">
                        <div class="user_Col_1 noBorder_PD">
                            <div class="input_Wrap">
                                <label for="email">e-Mail:</label>
                                <input type="email" name="email" id="email" value="<%= user.email %>">
                                <span class="error" id="emailErrors"></span>
                            </div>

                            <div class="input_Wrap mtop25">
                                <label for="phoneNumber">Telefono:</label>
                                <input type="number" name="phone" id="phoneNumber" value="<%= user.phone %>">
                                <span class="error" id="phoneNumberErrors"></span>
                            </div>
                        </div>
                        <div class="user_Col_2 flex_col noBorder_PD">
                            <label for="photoUserEdit">Foto:</label>
                            <img id="photoUserEdit" src="/images/users/<%= user.image %>" alt="">
                        </div>
                    </section>
                </section>
    
                <section class="saveChangesAdmin">
                    <div class="input_Wrap">
                        <button class="editUserBtn1" type="submit" title="Guardar Cambios">Guardar Cambios</button>
                        <span class="error submitBtnEdit" id="submitErrors"></span>
                        <a href="/admin/usuarios" class="editUserBtn1">Cancelar</a>
                    </div>
                </section>
    
            </form>
        </section>
    </main>
  </div>
  <script src="/javascripts/adminEditUserValidator.js"></script>
  <script src="/javascripts/moment.min.js"></script>
</body>
</html>