<div class="sliderBoxProducts">
    <div id="button_Left_Slider3">
        <i class="fa fa-chevron-left" aria-hidden="true"></i>
    </div>
    <div class="historyProductsSlider">
        <% userData.forEach(productSlider => { %>
            <div class="productRecommended">
                <a href="/productos/<%= productSlider.Category.category_Link %>/<%= productSlider.Subcategory.subcategory_Link %>/<%= productSlider.id %>">
                    <div class="img">
                        <% if (productSlider.discount > 1) { %>
                            <label><%= productSlider.discount %>% OFF</label>
                        <% } %>
                        <img src="/images/products/<%= productSlider.images[0]?.image_Route %>">
                    </div>
                    <div class="productRecommendedDescription">
                        <p><%= productSlider.name %></p>
                        <p>$<%= toThousand(productSlider.finalPrice) %></p>
                        <button>Ver Producto</button>
                    </div>
                </a>
            </div>
        <% }) %>
    </div>
    <div id="button_Right_Slider3">
        <i class="fa fa-chevron-right" aria-hidden="true"></i>
    </div>
</div>