<div class="optionsSidePanel">
    <section class="categoriesSubSection">
        <a href="/productos" style="margin-bottom: 10px;">Ver Listado</a>
        <p>Categorias:</p>
        <% categories.forEach(category => { %>
            <a href="/productos/<%= category.category_Link %>"><%= category.category_Name %></a>
        <% }) %>
    </section>
    <br>
    <section class="categoriesSubSection">
        <% if (subCategoriesFiltered != 0) { %>
            <p>Sub Categorias:</p>
            <% subcategories.forEach(subCategoriesList => { %>
                <a href="/productos/<%= linkOfCategory %>/<%= subCategoriesList.subcategory_Link %>"><%= subCategoriesList.subcategory_Name %></a>
            <% }) %>
        <% } %>
    </section>
</div>