<div class="optionsSidePanel">
    <section class="categoriesSubSection">
        <a href="/productos" style="margin-bottom: 10px;">Ver Todos los Productos</a>
        <p>Categorias:</p>
        <% categories.forEach(category => { %>
            <a href="/productos/<%= category.categorylink %>"><%= category.category %></a>
        <% }) %>
    </section>
    <br>
    <section class="categoriesSubSection">
        <% if (subCategoriesFiltered != 0) { %>
            <p>Sub Categorias:</p>
            <% subcategories.forEach(subCategoriesList => { %>
                <a href="/productos/<%= linkOfCategory %>/<%= subCategoriesList.subcategorylink %>"><%= subCategoriesList.subcategory %></a>
            <% }) %>
        <% } %>
    </section>
</div>