<div class="sliderBoxProducts">
    <div id="button_Left_Slider1">
        <i class="fa fa-chevron-left" aria-hidden="true"></i>
    </div>
    <div class="sliderProducts">
        <% productsData.forEach(element => { %>
            <div class="productRecommended">
                <a href="/productos/<%= element.category %>/<%= element.subcategory %>/<%= element.id %>">
                    <img src="/images/products/<%= element.image[0] %>">
                    <div class="productRecommendedDescription">
                        <p><%= element.name %></p>
                        <p>$<%= element.price %></p>
                        <button>Ver Producto</button>
                    </div>
                </a>
            </div>
        <% }) %>
    </div>
    <div id="button_Right_Slider1">
        <i class="fa fa-chevron-right" aria-hidden="true"></i>
    </div>
</div>